<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <link href="/book.css" rel="stylesheet">
    <style>
    {% if not mobile %}
    #main_area {
          width: 30vw;
          margin-left: auto;
          margin-right: auto;
    }
    {% endif %}
    </style>
</head>
<body>
<div id="main_area">
    {% for page in pages %}
    <img class="img lazy" data-src='/book/{{ name }}/{{ page }}' id='{{ page.replace(".","_") }}' style='display: block;margin:0 auto;width:100%;'>
    {% endfor %}
    {% if source %}
    <p class="source"><a href="{{ source }}" class="source" target="_blank">Source</a></p>
    <p class="source">     </p>
    {% endif %}
</div>
<div id="bottom_area">
    <p id="page" class="white_text">?/?</p>
    <p id="loading" class="white_text">Loading...0%</p>
</div>
<button type="button" id="BackTop" class="toTop-arrow"></button>
<script>
	$('#BackTop').click(function(){
		$body.scrollTop(0);
	});
	$(window).scroll(function() {
		if ($(this).scrollTop() > 300 ){
			$('#BackTop').fadeIn(222);
		} else {
			$('#BackTop').stop().fadeOut(222);
		}
	}).scroll();
    var hash = location.hash;
    let page_cnt = document.querySelectorAll('img').length;
    $("#page").text("0".repeat(Math.floor(Math.log10(page_cnt)))+"1/"+page_cnt);
    if (hash) update_page();
    function update_page(){
        let s = location.hash;
        if (s){
            s = s.substr(1,s.indexOf("_")-1);
            $("#page").text(s+"/"+page_cnt);
        }
    }
    var cur = null;
    function onEnterView(entries, observer) {
        for (let entry of entries) {
            if (entry.isIntersecting && entry.intersectionRatio>0.3) {
                cur = entry.target;
                history.replaceState({}, "", "#"+entry.target.id);
                update_page();
                return;
            }
        }
    }
    const watcher = new IntersectionObserver(onEnterView,{
        threshold: [0.0,0.25,0.5,0.75,1.0],
    });
    var q = [];
    function action(){
        let img = q.shift();
        function cur(){
            let w = Math.floor(1000*(page_cnt-q.length)/page_cnt);
            $("#loading").text("Loading..."+(Math.floor(w/10))+"."+(w%10)+"%")
            if (hash && ("#"+img.id)==hash){
                var target_top = $(hash).offset().top;
                $body.scrollTop(target_top);
                hash = null;
            }
            if (q.length){
                window.setTimeout(function(){action();},1);
            }else{
                $("#loading").css("display","none");
            }
            window.setTimeout(function(){watcher.observe(img);},1);
        }
        img.onload = cur;
        img.setAttribute('src', img.dataset.src);
        if (img.complete) cur();
    }
    function add(o){
        q.push(o);
        if (q.length == 1) window.setTimeout(function(){action();},1);
    }
    for(let o of document.querySelectorAll('img')) add(o);
    var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');
    var lock = false;
    $body.keypress(function(event){
        event.preventDefault();
        lock = true;
        let code = event.code;
        if (cur){
            if (code==="Space"||code==="ArrowRight"||code==="ArrowDown"||code==="PageDown"||code==="KeyS"||code==="KeyD") {
                let t = $(cur).next();
                if (t[0]) {
                    cur = t[0];
                    history.replaceState({}, "", "#" + cur.id);
                    var target_top = t.offset().top;
                    $body.scrollTop(target_top);
                }
            }
            if (code==="ArrowLeft"||code==="ArrowUp"||code==="PageUp"||code==="KeyW"||code==="KeyA") {
                let t = $(cur).prev();
                if (t[0]) {
                    cur = t[0];
                    history.replaceState({}, "", "#" + cur.id);
                    var target_top = t.offset().top;
                    $body.scrollTop(target_top);
                }
            }
        }
        return false;
    });
    update_page();
</script>
</body>
</html>