<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <style>
    #main_area {
        display: inline-block;
        background-color: #404040;
        align:center;
    }
    .gallery {
    {% if mobile %}
        width:33%;
    {% else %}
        width:16.2%;
    {% endif %}
        display: inline-block;
        margin:0 auto;
    }
    a {
        text-decoration:none;
        margin:0 auto;
    }
    p {
        margin:0 auto;
        color: #d9d9d9;
    }
    img.lazy {
        display: block;
        margin:0 auto;
        width:100%;
    }
    </style>
</head>
<body>
<div id="main_area">
    {% for uid, name in data %}
    <div class='gallery'>
        <a href='/book/{{ uid }}' style=''>
            <img class='lazy' data-src='/icon/{{ uid }}'>
            <p>{{ name }}</p>
        </a>
    </div>
    {% endfor %}
</div>
<script>
    function onEnterView(entries, observer) {
        for (let entry of entries) {
            if (entry.isIntersecting) {
                // 監視目標進入畫面
                const img = entry.target
                img.setAttribute('src', img.dataset.src) // 把值塞回 src
                img.removeAttribute('data-src')
                observer.unobserve(img) // 取消監視
                img.onload = ()=>$(img).css("height","auto");
                if (img.completed) $(img).css("height","auto");
            }
        }
    }
    const watcher = new IntersectionObserver(onEnterView);
    const lazyImages = document.querySelectorAll('img.lazy');
    for (let image of lazyImages) {
        $(image).css("height",$(".gallery:first").css("width"));
        watcher.observe(image);
    }
</script>
</body>
</html>